<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>@MODULE_ID@</id>
    <name>@MODULE_NAME@</name>
    <version>@MODULE_VERSION@</version>
    <package>@MODULE_PACKAGE@</package>
    <author>Olaolu Ajose</author>
    <description>
        ${project.parent.description}
    </description>
    <activator>@MODULE_PACKAGE@.BlopupNotificationActivator</activator>
    <!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
    <!-- /Base Module Properties -->

    <dwr>
        <allow>
            <convert converter="bean" match="org.openmrs.module.blopup.notification.domain.MessagingAddress"/>
            <convert converter="bean" match="org.openmrs.module.blopup.notification.web.domain.MessageBean"/>
            <convert converter="bean" match="org.openmrs.module.blopup.notification.domain.Modem"/>

            <create creator="new" javascript="DWRMessagingAddressService">
                <param name="class" value="org.openmrs.module.blopup.notification.web.dwr.DWRMessagingAddressService"/>
                <include method="getAllAddressesForCurrentUser"/>
                <include method="getAllAddressesForPersonId"/>
                <include method="getPublicAddressesForPersonId"/>
                <include method="getPublicAddressesForCurrentUser"/>
                <include method="deleteAddress"/>
                <include method="saveOrUpdateAddress"/>
                <include method="saveOrUpdateAddressForCurrentUser"/>
            </create>

            <create creator="new" javascript="DWRModuleMessageService">
                <param name="class" value="org.openmrs.module.blopup.notification.web.dwr.DWRModuleMessageService"/>
                <include method="getMessagesForPatient"/>
                <include method="sendMessage"/>
            </create>

            <create creator="new" javascript="DWRGatewayStatusService">
                <param name="class" value="org.openmrs.module.blopup.notification.web.dwr.DWRGatewayStatusService"/>
                <include method="isGatewayActive"/>
                <include method="startGateway"/>
                <include method="stopGateway"/>
            </create>

            <!--            <create creator="new" javascript="DWRSmsLibGatewayService">-->
            <!--                <param name="class" value="org.openmrs.module.blopup.notification.web.dwr.DWRSmsLibGatewayService"/>-->
            <!--                <include method="redetectModems"/>-->
            <!--                <include method="getConnectedModems"/>-->
            <!--            </create>-->
        </allow>
    </dwr>

    <require_version>${openmrsPlatformVersion}</require_version>

    <require_modules>
        <require_module version="${appframeworkVersion}">
            org.openmrs.module.appframework
        </require_module>
        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>
        <require_module version="${uicommonsModuleVersion}">
            org.openmrs.module.uicommons
        </require_module>
        <require_module version="${appuiVersion}">
            org.openmrs.module.appui
        </require_module>
    </require_modules>

    <!-- Extensions -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.blopup.notification.extension.html.AdminList</class>
    </extension>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
    </aware_of_modules>


    <globalProperty>
        <property>@MODULE_ID@.max.retry</property>
        <defaultValue>3</defaultValue>
        <description>The number of times that the system should try to send a message once it fails.</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.protocol</property>
        <defaultValue>pop3</defaultValue>
        <description>Blopup Notification Module incoming email protocol</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.host</property>
        <defaultValue>localhost</defaultValue>
        <description>Blopup Notification Module incoming email host</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.port</property>
        <defaultValue>110</defaultValue>
        <description>Blopup Notification Module incoming email port</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.auth</property>
        <defaultValue>true</defaultValue>
        <description>Blopup Notification Module incoming email auth flag</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.tls</property>
        <defaultValue>false</defaultValue>
        <description>Blopup Notification Module incoming email TLS flag</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.username</property>
        <defaultValue/>
        <description>Blopup Notification Module incoming email username</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.in.password</property>
        <defaultValue></defaultValue>
        <description>Blopup Notification Module incoming email password (encrypted)</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.usedefault</property>
        <defaultValue>true</defaultValue>
        <description>Blopup Notification Module outgoing email use default flag</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.protocol</property>
        <defaultValue>smtp</defaultValue>
        <description>Blopup Notification Module outgoing email protocol</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.host</property>
        <defaultValue>localhost</defaultValue>
        <description>Blopup Notification Module outgoing email host</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.port</property>
        <defaultValue>25</defaultValue>
        <description>Blopup Notification Module outgoing email port</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.auth</property>
        <defaultValue>false</defaultValue>
        <description>Blopup Notification Module outgoing email auth flag</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.tls</property>
        <defaultValue>false</defaultValue>
        <description>Blopup Notification Module outgoing email TLS flag</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.from</property>
        <defaultValue/>
        <description>Blopup Notification Module outgoing email from address</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.username</property>
        <defaultValue/>
        <description>Blopup Notification Module outgoing email username</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.out.password</property>
        <defaultValue/>
        <description>Blopup Notification Module outgoing email password (encrypted)</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.subject</property>
        <defaultValue>Message from Blopup</defaultValue>
        <description>Blopup Notification Module outgoing email subject</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.email.signature</property>
        <defaultValue/>
        <description>Blopup Notification Module outgoing email signature</description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.encryption.key</property>
        <defaultValue/>
        <description>Encryption key ... DO NOT DELETE UNLESS WILLING TO RESET ALL ENCRYPTED DATA</description>
    </globalProperty>


    <!-- Extension points -->

    <extension>
        <point>org.openmrs.admin.list</point>
        <class>@MODULE_PACKAGE@.extension.html.AdminList</class>
    </extension>

    <extension>
        <point>org.openmrs.patientDashboardTab</point>
        <class>@MODULE_PACKAGE@.extension.html.MessagingPatientDashboardTabExt</class>
    </extension>

    <!-- Privileges -->

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to view messages</description>
    </privilege>

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to send messages</description>
    </privilege>

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to add/edit/delete messages</description>
    </privilege>

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to view messaging addresses</description>
    </privilege>

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to add/edit/delete messaging addresses</description>
    </privilege>

    <privilege>
        <name>@MODULE_NAME@</name>
        <description>Able to start/stop and configure messaging gateways</description>
    </privilege>

    <!-- Servlets -->
    <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
    <servlet>
        <servlet-name>formDownload</servlet-name>
        <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
    </servlet>
    -->
    <!-- /Servlets -->

    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->

</module>

